{% extends 'base.html' %}

{% block title %}
Новое путешествие
{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1> Добавление нового путешествия </h1>
    <form method="post">
        <input type="text" name="title" id="title" class="form-control" placeholder="Введите название"><br>
        <input type="text" name="author" id="author" class="form-control" placeholder="Введите имя автора"><br>
        <textarea name="route" id="route" class="form-control" placeholder="Введите маршрут"></textarea><br>
        <textarea name="description" id="description" class="form-control" placeholder="Введите описание"></textarea><br>
        <input type="text" name="status" id="status" class="form-control" placeholder="Введите статус"><br>
        <input type="submit" class="btn btn-success" value="Отправить">
    </form>
</div>
{% endblock %}