{% extends 'base.html' %}

{% block title %}
Главная страница
{% endblock %}

{% block body %}
<div class="container">
    <h1> Главная страница </h1><br>
    <h4>"Приключение того стоит" © Аристотель</h4><br>
    <h4>"Живи, путешествуй, не сожалей ни о чем и благодари судьбу" © Джек Керуак</h4><br>
    <h4>"Путешествия учат толерантности" © Бенжамин Дизраэли</h4><br>
    <h4>"Только о двух вещах мы будем жалеть на смертном одре – что мало любили и мало путешествовали" © Марк Твен</h4><br>
    <h4>"Счастье - это не пункт назначений, а способ путешествия" © Марк Твен</h4><br>
    <h4>"Путешественник чувствует себя как дома везде и нигде. Где бы он ни находился, какая-то его часть — на другом континенте" © Марго Фонтейн </h4><br>
    <h4>"Путешествия едва ли могут предотвратить нетерпимость, но благодаря им мы видим, что все люди плачут, смеются, едят, волнуются и умирают. И это позволяет нам хотя бы подружиться" © Майа Анджелу</h4><br>
    <h4>"Мир – это книга, и те, кто не путешествуют, успевают прочесть лишь первую страницу" © Ст. Августин </h4><br>
    <h4>"Мы путешествуем не для того, чтобы сбежать от жизни, а для того, чтобы жизнь из нас не сбежала" © Аноним </h4><br>
    <h4>"Я парниша модный, по жизни свободный, корешей не бросаю и братву уважаю" © Джейсон Стетхем </h4>
</div>
{% endblock %}