{% extends 'base.html' %}

{% block title %}
Обновление путешествия
{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1> Обновление путешествия </h1>
    <form method="post">
        <input type="text" name="title" id="title" class="form-control" value="{{ travel.title }}" placeholder="Введите название"><br>
        <input type="text" name="author" id="author" class="form-control" value="{{ travel.author }}" placeholder="Введите имя автора"><br>
        <textarea name="route" id="route" class="form-control" placeholder="Введите маршрут">{{ travel.route }}</textarea><br>
        <textarea name="description" id="description" class="form-control" placeholder="Введите описание">{{ travel.description }}</textarea><br>
        <input type="text" name="status" id="status" class="form-control" value="{{ travel.status }}" placeholder="Введите статус"><br>
        <input type="submit" class="btn btn-success" value="Обновить">
    </form>
</div>
{% endblock %}